*{
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
}

body{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #38Be3c;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #38Be3c;
  gap: 10px;
}

.keptDice, .container {
  flex-grow: 1;
  width: calc(50% - 10px);
  max-width: calc(50% - 10px);
  margin: 5px;
}

h2 {
  color: white;
  display: flex;
  place-items: center;
  width: auto;
  justify-content: center;
  margin-bottom: 40px;
  margin-top: 40px;
}

h4 {
  color: #a61b19;
  display: flex;
  place-items: center;
  width: auto;
  justify-content: center;
  margin-bottom: 20px;
}

.App {
  position: relative; 
  display: flex;
  flex-direction: column;
  align-items: center;
  }

.keptDice {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  place-items: center;
  width: auto;
  padding: 40px 10px;
  border-radius: 30px;
  background: #5fcb16;
  box-shadow:  0 0 20px rgba(0, 0, 0, 0.1);
}


.roll{
  cursor: pointer;
  color: #b9bb32;
  margin-top: 40px; 
  padding: 6px 12px;
  border-radius: 3px;
  font-size: 20px;
  font-weight:700;
  border: 2px solid #b9bb32;
  transition: 1s;
}

.roll:hover{
  color: #fff;
  background-color: #b9bb32;
}

@media only screen and (max-height: 600px) {
  body {
    background: #38Be3c; /* Cambia il colore di sfondo solo per gli schermi più piccoli */
  }

  .App {
    padding: 0px;
    max-height: 90%;
    max-width: 90%;
  }
  h2 {
    margin-top: 5%; /* Riduci il margine superiore per gli schermi più piccoli */
    margin-bottom: 5%; /* Riduci il margine inferiore per gli schermi più piccoli */
  }

  .roll {
    margin-top: 5%;
    margin-bottom: 0; /* Riduci il margine superiore per gli schermi più piccoli */
  }
}

@media only screen and (max-width: 600px) {
  body {
    background: #38Be3c; /* Cambia il colore di sfondo solo per gli schermi più piccoli */
  }

  .App {
    padding: 0px;
    max-height: 90%;
    max-width: 90%;
  }

  h2 {
    margin-top: 5%; /* Riduci il margine superiore per gli schermi più piccoli */
    margin-bottom: 5%; /* Riduci il margine inferiore per gli schermi più piccoli */
  }

  .roll {
    margin-top: 5%;
    margin-bottom: 0;
  }
}


