*{
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
}

body{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: rgb(99, 163, 31);
  margin-left: 10px ;
}

.wrapper {
  display: flex;
  justify-content: center;
  background: #fff;
  gap: 10px;
  padding: 25px 40px;
  border-radius: 30px;

}

h2 {
  color: rgba(255, 255, 255, 0.89);
  display: flex;
  place-items: center;
  width: auto;
  justify-content: center;
  margin-bottom: 20px;
  margin-top: 20px;
}

.result {
  color: #bc8431;
  display: flex;
  place-items: center;
  width: auto;
  justify-content: center;
  margin-bottom: 10px;
  margin-top: 20px;
  border: 2px solid #bc8431;
  background-color: rgba(255, 255, 255, 0.97);
  padding: 8px 4px;
  border-radius: 5px;
  font-size: 19px;
  font-weight:700;
}

.App {
  position: relative; 
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 1000px;
  }

  
.counts {  
  color: #bc8431;
  display: flex;
  place-items: center;
  width: auto;
  justify-content: center;
  margin-bottom: 20px;
  border: 2px solid #bc8431;
  background-color: rgba(255, 255, 255, 0.97);
  padding: 8px 4px;
  border-radius: 5px;
  font-size: 18px;
  font-weight:700;
}

ul {
  list-style-type: none;
  color:#bc8431;
  background-color: #fff;
  border: 2px solid #bc8431;
  border-radius: 5px;
  padding: 0.5%;
  font-weight: 600;
  font-size: 15px;
  }


.throws {
    list-style-type:disc;
    background-color: #fff;
    font-weight: 600;
    margin: 0px 12px;
}

.lastThrow {
  background-color: #fff;
  font-weight: 600;
  margin: 11px 10px;
}

select {
  background-color: #fff;
  border-style: outset;
  border: 2px solid #bc8431;
  border-radius: 5px;
  margin: 2px;
  font-weight: 600;
  padding: 0.5% ;
}

.roll {
  cursor: pointer;
  color: #bc8431;
  margin-top: 30px;
  margin-bottom: 10px; 
  padding: 6px 12px;
  border-radius: 50px;
  font-size: 18px;
  font-weight:600;
  border: 2px solid #bc8431;
  transition: 1s;
}

.newTurn  {
  cursor: pointer;
  color: #bc8431;
  margin-bottom: 40px; 
  padding: 6px 12px;
  border-radius: 50px;
  font-size: 18px;
  font-weight:600;
  border: 2px solid #bc8431;
  transition: 1s;
}

.roll:hover{
  color: #fff;
  background-color: #bc8431;
  border-color: #646cff;
}

.newTurn:hover{
  color: #fff;
  background-color: #bc8431;
  border-color: #646cff;
}


p.Note   {  
  margin-left: 0%;
  margin-bottom: 40px;
  text-align: left;     
  width: auto;       
  text-indent: -8px;       
  padding: 12px 10px 12px 8px;       
  background-color: rgba(211, 211, 211, 0.9); 
 }
 

p.Note::before   {        
  content: 'Note';         
  font-family: sans-serif;       
  font-weight: bold;       
  font-style: italic;       
  font-size: 12pt;         
  line-height: 12pt;       
  text-transform: uppercase;
  letter-spacing: 2px;       
  color: lightyellow; 
  background-color: rgba(138, 61, 139, 0.9);      
  padding: 8px 6px 1px 8px;       
  margin-right: 10px; 
  margin-left: 2px;
  }

