@media only screen and (max-height: 400px) {
    body {
      background: #38Be3c; 
    }
  
    .App {
      padding: 0px;
      max-height: 90%;
      max-width: 90%;
    }
    h2 {
      margin-top: 5%; 
      margin-bottom: 5%; 
    }
  
  }


@media only screen and (max-width: 600px) {
    .container, .keptDice {
      padding: 0px;
      max-height: 90%;
      max-width: 90%;
    }
    .dice, .dice2, .dice3, .dice4, .dice5 {
      width: 18vw;
      height: 18vw;
    } 
}


@media only screen and (max-width: 600px) {
    body {
      background: #38be84;
    }
  
    .App {
      padding: 0px;
      max-height: 90%;
      max-width: 90%;
    }
  
    h2 {
      margin-top: 5%; 
      margin-bottom: 5%; 
    }
  
    .roll {
      margin-top: 5%;
    }
  }
  
  @media only screen and (min-width: 1200px) {
    .dice, .dice2, .dice3, .dice4, .dice5 {
      max-width: 150px; /* Imposta una larghezza massima per i dadi su schermi molto grandi */
      max-height: 150px;
    }
  }

  @media only screen and (min-width: 600px) {
    .App, .container, h4, .keptDice {
        max-height: none;
        max-width: none;
    }
}